<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/aboutguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/aboutstyle.css') }}" />
    <link rel="icon" type="image/x-icon" href="https://c.animaapp.com/YnardM1l/img/image-11-1@2x.png">
    <title>Biographer - biostatistics made easy</title>
  </head>
  <body>
    <div class="frame">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="design">
            <div class="overlap-group">
              <div class="lines">
                <div class="group">
                  <div class="rectangle"></div>
                  <div class="div"></div>
                  <div class="rectangle-2"></div>
                  <div class="rectangle-3"></div>
                  <div class="rectangle-4"></div>
                  <div class="rectangle-5"></div>
                  <div class="rectangle-6"></div>
                  <div class="rectangle-7"></div>
                  <div class="rectangle-8"></div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="ellipse"></div>
                  <div class="ellipse-2"></div>
                  <img class="img" src="https://c.animaapp.com/dnMKlwA8/img/rectangle-3741.svg" />
                </div>
              </div>
              <header class="header">
                <div class="nav-bar">
                  <a class="logo" href="{{ url_for('main.upload_form') }}">
                    <div class="text-wrapper">Biographer</div>
                    <img class="image" src="https://c.animaapp.com/dnMKlwA8/img/image-11-1@2x.png" />
                  </a>
                  <div class="nav-links">
                    <a class="component" href="{{ url_for('main.upload_file') }}"><div class="text-wrapper-2">Upload File</div></a>
                    <a class="div-wrapper" href="{{ url_for('main.documentation_intro') }}"><div class="text-wrapper-2">Documentation</div></a>
                    <a class="learn-wrapper" href="{{ url_for('main.about') }}"><div class="text-wrapper-2">About the Project</div></a>
                    <a class="component-2" href="mailto:biographerhelp@gmail.com"><div class="text-wrapper-2">Contact</div></a>
                  </div>
                </div>
                <img class="abstract" src="https://c.animaapp.com/dnMKlwA8/img/abstract@2x.png" />
              </header>
              <div class="frame-wrapper">
                <div class="div-2">
                  <p class="text-wrapper-3">Hello everyone, my name is</p>
                  <div class="div-3">
                    <div class="text-wrapper-4">Samuel Huang</div>
                    <p class="biographer-was">
                      Biographer was created by me in part of the BASIS Independent Schools <br />Senior Project Program
                      for the year of 2024.
                    </p>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper-2">
                <div class="div-2">
                  <div class="text-wrapper-3">Special Thanks to</div>
                  <div class="div-3">
                    <div class="text-wrapper-4">Yang Zhang</div>
                    <div class="text-wrapper-5">External Advisor</div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper-3">
                <div class="div-2">
                  <div class="text-wrapper-3">Special Thanks to</div>
                  <div class="div-3">
                    <div class="text-wrapper-4">Dr. Zeynep Araci</div>
                    <div class="text-wrapper-5">Internal Advisor</div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper-4">
                <div class="div-2">
                  <div class="text-wrapper-3">Special Thanks to</div>
                  <div class="div-3">
                    <div class="text-wrapper-4">Ms. Babita Nagpal</div>
                    <div class="text-wrapper-5">Senior Project Coordinator</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlap-2">
              <div class="group-2">
                <div class="overlap-3">
                  <div class="ellipse-3"></div>
                  <div class="ellipse-4"></div>
                </div>
                <img class="rectangle-9" src="https://c.animaapp.com/dnMKlwA8/img/rectangle-3741-1.svg" />
                <img class="rectangle-10" src="https://c.animaapp.com/dnMKlwA8/img/rectangle-3742.svg" />
              </div>
              <div class="newsletter-footer">
                <div class="footer-wrapper">
                  <footer class="footer">
                    <div class="text-wrapper-6">Copyright © Biographer</div>
                    <img class="line" src="https://c.animaapp.com/dnMKlwA8/img/line-1.svg" />
                    <img class="social-icon" src="https://c.animaapp.com/dnMKlwA8/img/social-icon@2x.png" />
                    <a class="logo-2" href="{{ url_for('main.upload_form') }}">
                      <div class="text-wrapper-7">Biographer</div>
                      <img class="image" src="https://c.animaapp.com/dnMKlwA8/img/image-11-1@2x.png" />
                    </a>
                    <div class="nav-links-2">
                      <a class="component" href="{{ url_for('main.upload_file') }}"><div class="text-wrapper-2">Upload File</div></a>
                      <a class="div-wrapper" href="{{ url_for('main.documentation_intro') }}"><div class="text-wrapper-2">Documentation</div></a>
                      <a class="component-3" href="{{ url_for('main.about') }}"><div class="text-wrapper-2">About the Project</div></a>
                      <a class="component-2" href="mailto:biographerhelp@gmail.com"><div class="text-wrapper-2">Contact</div></a>
                    </div>
                  </footer>
                </div>
              </div>
              <div class="div-4">
                <div class="text-wrapper-8">Resources Used</div>
                <p class="this-project-couldn">
                  This project couldn’t have been possible without <br />some great free online resources:
                </p>
              </div>
              <div class="text-wrapper-9">Miguel Grinberg’s Flask Tutorial</div>
              <p class="p">J. H. McDonald’s Handbook of Biological Statistics</p>
              <p class="text-wrapper-10">Figma for front-end development, Anima to convert to code</p>
              <div class="pricing"><p class="text-wrapper-11">Thank you for visiting my project!</p></div>
              <p class="flask-documentation">
                <span class="span"
                  >Flask Documentation,<br />Seaborn Documentation,<br />SciPy Documentation,<br />Pandas
                  Documentation,<br />Matplotlib Documentation,<br
                /></span>
                <span class="text-wrapper-12">and so much more...<br /></span>
              </p>
              <img class="image-2" src="https://c.animaapp.com/dnMKlwA8/img/image-12@2x.png" />
              <img class="image-3" src="https://c.animaapp.com/dnMKlwA8/img/image-13@2x.png" />
            </div>
          </div>
          <div class="myservice">
            <div class="div-5">
              <div class="div-2">
                <div class="text-wrapper-8">Project Goals</div>
                <p class="how-can-we-create-a">
                  How can we create a simple to use, resourceful, and open source platform for analyzing data from
                  biological assays? I have faced many grueling hours trying to figure out how to analyze data through
                  Excel and struggled quite a bit. Biographer&nbsp;&nbsp;aims to solve this problem.
                </p>
              </div>
              <div class="div-6">
                <div class="frame-wrapper-5">
                  <div class="div-7">
                    <img
                      class="ai-technology-spark"
                      src="https://c.animaapp.com/dnMKlwA8/img/ai-technology-spark--lightbulb-idea-bright-lighting-artificial-i.svg"
                    />
                    <div class="div-8">
                      <div class="text-wrapper-13">Simplicity</div>
                      <p class="text-wrapper-14">
                        The application should be easy to use, without needing downloads, and even the most
                        inexperienced user can utilize it effectively.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper-6">
                  <div class="div-9">
                    <img
                      class="img-2"
                      src="https://c.animaapp.com/dnMKlwA8/img/wrench--crescent-tool-construction-tools-wrench-setting-edit-adj.svg"
                    />
                    <div class="div-8">
                      <div class="text-wrapper-15">Resources</div>
                      <p class="text-wrapper-14">
                        Biographer is an environment where it is easy to access your favorite lab tools. Biographer
                        Toolbox contains a small but useful selection.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper-6">
                  <div class="div-9">
                    <img
                      class="img-2"
                      src="https://c.animaapp.com/dnMKlwA8/img/web--server-world-internet-earth-www-globe-worldwide-web-network.svg"
                    />
                    <div class="div-8">
                      <div class="text-wrapper-15">Open Source</div>
                      <p class="text-wrapper-14">
                        Biographer is 100% free. All of the code is available for viewing and download on GitHub.
                        Knowledge and convenience is not held back.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="image-4" src="https://c.animaapp.com/dnMKlwA8/img/image-14@2x.png" />
        </div>
      </div>
    </div>
  </body>
</html>
