<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/excel.css') }}">
</head>
{% extends "upload_form.html" %}
{% block content %}
{{super()}}

    <body>
        <h1>Excel Data</h1>
        File Uploaded: {{filename}}
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    
        <h1>Analyze Excel File</h1>
        <form id="transformation" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="transform">Transform:</label>
            <select name="transformation" id="transform">
                <option value=""></option>
                <option value="normalize">Normalize</option>
                <option value="transform">Transform</option>
                <option value="transform_concentrations">Transform Concentrations</option>
                <option value="area_under_curve">Area Under Curve</option>
                <option value="fraction_of_total">Fraction of Total</option>
                <option value="prune">Prune</option>
                <option value="transpose">Transpose</option>
                <!-- Add more transformation options as needed -->
            </select>
            <br><br>
        </form>

        <div id="normalizationOptions" style="display: none;">
            <h2>Normalization Options</h2>
            <form id="normalizationForm" action="{{ url_for('main.normalize') }}" method="post">
                <label for="zeroPercent">Define 0%:</label><br>
                <input type="radio" id="smallestValue" name="zero_percent" value="smallest">
                <label for="smallestValue">The smallest value in each data set</label><br>
                <input type="radio" id="firstValue" name="zero_percent" value="first">
                <label for="firstValue">The first value in each data set</label><br>
                <input type="radio" id="sumValue" name="zero_percent" value="sum">
                <label for="sumValue">Sum of all values</label><br>
                <input type="radio" id="avgValue" name="zero_percent" value="avg">
                <label for="avgValue">Average of all values</label><br>
                <input type="radio" id="customValue" name="zero_percent" value="custom">
                <label for="customValue">Custom value (Y = <input type="number" id="customInput" name="custom_input" step="any">)</label><br><br>
                
                <label for="hundredPercent">Define 100%:</label><br>
                <input type="radio" id="largestValue" name="hundred_percent" value="largest">
                <label for="largestValue">The largest value in each data set</label><br>
                <input type="radio" id="lastValue" name="hundred_percent" value="last">
                <label for="lastValue">The last value in each data set</label><br>
                <input type="radio" id="hsumValue" name="hundred_percent" value="hsum">
                <label for="hsumValue">Sum of all values</label><br>
                <input type="radio" id="havgValue" name="hundred_percent" value="havg">
                <label for="havgValue">Average of all values</label><br>
                <input type="radio" id="hcustomValue" name="hundred_percent" value="hcustom">
                <label for="hcustomValue">Custom value (Y = <input type="number" id="hcustomInput" name="hcustom_input" step="any">)</label><br><br>
                
                <label for="presentation">Present results as</label><br>
                <input type="radio" id="fraction" name="presentation" value="fraction">
                <label for="fraction">Fraction</label><br>
                <input type="radio" id="percentage" name="presentation" value="percentage">
                <label for="percentage">Percentage</label><br><br>

                <button type="submit">Apply Normalization</button>
            </form>
        </div>

        <div id="transformOptions" style="display: none;">
            <h2>Transformation Options</h2>
            <form id="transformForm" action="{{ url_for('main.transform') }}" method="post">
                <label for="biochem">Biochemistry Transforms:</label><br>
                <input type="radio" id="none" name="biochem" value="none" checked="checked">
                <label for="none">None</label><br>
                <input type="radio" id="eadie-hofstee" name="biochem" value="eadie-hofstee">
                <label for="eadie-hofstee">Eadie-Hofstee</label><br>
                <input type="radio" id="hanes-woolf" name="biochem" value="hanes-woolf">
                <label for="hanes-woolf">Hanes-Woolf</label><br>
                <input type="radio" id="hill" name="biochem" value="hill">
                <label for="hill">Hill (Ymax = <input type="number" id="hill_input" name="hill_input" step="any">)</label><br>
                <input type="radio" id="log-log" name="biochem" value="log-log">
                <label for="log-log">Log-Log</label><br>
                <input type="radio" id="scatchard" name="biochem" value="scatchard">
                <label for="scatchard">Scatchard</label><br><br>

                <label for="function">Standard Functions: </label><br>
                <select name="function" id="function">
                    <option value="none">None</option>
                    <option value="y*k">Y=Y*K</option>
                    <option value="y+k">Y=Y+K</option>
                    <option value="y-k">Y=Y-K</option>
                    <option value="y/k">Y=Y/K</option>
                    <option value="ysquared">Y=Y^2</option>
                    <option value="y^k">Y=Y^K</option>
                    <option value="logy">Y=log(Y)</option>
                    <option value="-logy">Y=-1*log(Y)</option>
                    <option value="lny">Y=ln(Y)</option>
                    <option value="10^y">Y=10^Y</option>
                    <option value="e^y">Y=e^Y</option>
                    <option value="1/y">Y=1/Y</option>
                    <option value="sqrty">Y=sqrt(Y)</option>
                    <option value="logity">Y=ln(Y/1-Y)</option>
                    <option value="zscorey">zscore(Y)</option>
                    <option value="siny">Y=sin(Y)</option>
                    <option value="cosy">Y=cos(Y)</option>
                    <option value="tany">Y=tan(Y)</option>
                    <option value="arcsiny">Y=arcsin(Y)</option>
                    <option value="absy">Y=absolute(Y)</option>
                    <option value="x/y">Y=X/Y</option>
                    <option value="y/x">Y=Y/X</option>
                    <option value="y-x">Y=Y-X</option>
                    <option value="y+x">Y=Y+X</option>
                    <option value="y*x">Y=Y*X</option>
                    <option value="x-y">Y=X-Y</option>
                    <option value="k-y">Y=K-Y</option>
                    <option value="k/y">Y=K/Y</option>
                    <option value="log2y">Y=log2(y)</option>
                    <option value="2^y">Y=2^y</option>

                </select><br><br>

                <div id="userInputs" style="display: none;">
                    <label for="userInput">Enter value for K:</label>
                    <input type="number" id="userInput" name="user_input" step="any"><br><br>
                </div>

                
                <button type="submit">Apply Transformation</button>
            </form>
        </div>
        <div id="transformConcentrationOptions" style="display: none;">
            <h2>Transform Concentration Options</h2>
            <form id="trasnformConcentrationForm" action="{{ url_for('main.transform_concentrations') }}" method="post">
                <label for="transformConcentration">Transform 'X' values:</label><br>
                <select name="transformConcentration" id="transformConcentration">
                    <option value="none">None</option>
                    <option value="changeX0">Change X=0 to:</option>
                    <option value="multConstant">X=X*K</option>
                    <option value="divConstant">X=X/K</option>
                    <option value="log10x">Y=Y-K</option>
                    <option value="lnx">Y=Y/K</option>
                    <option value="log2x">Y=Y^2</option>
                </select><br><br>

                <div id="userXInputs" style="display: none;">
                    <label for="userXInput">Enter value for K:</label>
                    <input type="number" id="userXInput" name="userx_input" step="any"><br><br>
                </div>

                
                <button type="submit">Apply Transformation</button>
            </form>
        </div>
        <div id="areaUnderCurveDisplay" style="display: none;">
            <form id="areaUnderCurveForm" action="{{ url_for('main.area_under_curve') }}" method="post">
                <button type="submit">Find Area Under Curve</button>
            </form>
        </div>
        {% if area %}
            <p>Area Under Curve: {{ area }}</p>
        {% endif %}

        <div id="fracOptions" style="display: none;">
            <h2>Fraction of Total Options</h2>
            <form id="fracForm" action="{{ url_for('main.fraction_of_total') }}" method="post">
                <label for="divfrac">Divide each value by its:</label><br>
                <input type="radio" id="column" name="divfrac" value="column" checked="checked">
                <label for="column">Column total</label><br>
                <input type="radio" id="row" name="divfrac" value="row">
                <label for="row">Row total</label><br>
                <input type="radio" id="grand" name="divfrac" value="grand">
                <label for="grand">Grand total</label><br><br>

                <label for="fracconfidence">Confidence Intervals:</label><br>
                <input type="checkbox" id="fracconfidence" name="fracconfidence" value="fracconfidence">
                <label for="fracconfidence">Calculate <input type="number" id="conf_input" name="conf_input" step="any">% confidence intervals.</label><br><br>  
                <button type="submit">Apply Transformation</button>
            </form>
        </div>
        {% if upper_bound and lower_bound %}
            <p>Upper Bound: {{ upper_bound }}</p><br>
            <p>Lower Bound: {{ lower_bound }}</p><br>
        {% endif %}
        <div id="pruneOptions" style="display: none;">
            <h2>Prune Options</h2>
            <form id="pruneForm" action="{{ url_for('main.prune') }}" method="post">
                <label for="pruneOption">Prune by Range or Average:</label><br>
                <input type="radio" id="xRange" name="pruneOption" value="xRange" checked="checked">
                <label for="xRange">Prune by Range: From <input type="number" id="xmin" name="xmin" step="any"> to <input type="number" id="xmax" name="xmax" step="any"></label><br>
                <input type="radio" id="average" name="pruneOption" value="average">
                <label for="average">Prune by Average: Average every <input type="number" id="avg_input" name="avg_input"> rows</label><br><br>
                <button type="submit">Apply Transformation</button>
            </form>
        </div>
        <div id="transposeDisplay" style="display: none;">
            <form id="transposeForm" action="{{ url_for('main.transpose') }}" method="post">
                <button type="submit">Transpose</button>
            </form>
        </div>
        <h2>Transformed Data</h2>
        {% if transformed_df %}
        <!-- Display transformed DataFrame -->
            <div class="excel-table-container">
                <table class="excel-table">
                    <thead>
                        <tr>
                            {% for column in transformed_df[0].keys() %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in transformed_df %}
                            <tr>
                                {% for value in row.values() %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <p>No transformed data available.</p>
        {% endif %}
        <hr>
        <!-- Tests for Nominal Variables -->
        <form id="test_nominal" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            <label for="testNominal">Tests for Nominal Variables:</label>
            <select name="test_nominal" id="testNominal">
                <option value=""></option>
                <option value="exact_test_of_goodness_of_fit">Exact Test of Goodness-of-Fit</option>
                <option value="chi_square_test_of_goodness_of_fit">Chi-Square Test of Goodness-of-Fit</option>
                <option value="chi_square_test_of_independence">Chi-Square Test of Independence</option>
                <option value="fishers_exact_test">Fisher's Exact Test</option>
            </select>
            <br><br>
        </form>

        <div id="binomOptions" style="display: none;">
            <form id="binomForm" action="{{ url_for('main.exact_test') }}" method="post">
                <label for="successes">Successes: <input type="number" id="success_input" name="success_input"></label><br>
                <label for="trials">Trials: <input type="number" id="trials_input" name="trials_input"></label><br>
                <label for="prob">Null Hypothesis Probability: <input type="number" id="prob" name="prob" min="0" max="1" step="any"></label><br><br>                
                <button type="submit">Run Test</button>
            </form>
        </div>
        <div id="chigoodDisplay" style="display: none;">
            <form id="chigoodForm" action="{{ url_for('main.chi_square_goodness') }}" method="post">
            <p>Tip: The columns must be equal in sum!</p>
                <button type="submit">Run Test</button>
            </form>
        </div>
        <div id="chiindDisplay" style="display: none;">
            <form id="chiindForm" action="{{ url_for('main.chi_square_independence') }}" method="post">
                <button type="submit">Run Test</button>
            </form>
        </div>
        <div id="fisherdisplay" style="display: none;">
            <form id="fisherForm" action="{{ url_for('main.fisher_test') }}" method="post">
                <button type="submit">Run Test</button>
            </form>
        </div>
        {% if expected_table %}
        <h2>Expected Frequency Table:</h2>
            <div class="excel-table-container">
                <table class="excel-table">
                    <thead>
                        <tr>
                            {% for column in expected_table[0].keys() %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in expected_table %}
                            <tr>
                                {% for value in row.values() %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <!-- Tests for One Measurement Variable -->
        <form id="test_one_measurement" action="{{ url_for('main.perform_one_measurement_test') }}" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="testOneMeasurement">Tests for One Measurement Variable:</label>
            <select name="test_one_measurement" id="testOneMeasurement">
                <option value=""></option>
                <option value="one_sample_t_test">One-Sample t-Test</option>
                <option value="two_sample_t_test">Two-Sample t-Test</option>
                <option value="homoscedasticity">Homoscedasticity</option>
                <option value="one_way_anova">One-Way ANOVA</option>
                <option value="kruskal_wallis_test">Kruskal-Wallis Test</option>
                <option value="two_way_anova">Two-Way ANOVA</option>
                <option value="paired_t_test">Paired t-Test</option>
                <option value="wilcoxon_signed_rank_test">Wilcoxon Signed-Rank Test</option>
            </select>
            <button type="submit">Submit</button>
            <br><br>
            <div id="sampleMeans" style="display: none;">
                <label for="sampleMeans">Test for mean: <input type="number" id="means_input" name="means_input"></label><br>
            </div>
        </form>
        

        <!-- Tests for Multiple Measurement Variables -->
        <form id="test_multiple_measurement" action="{{ url_for('main.perform_multiple_measurement_test') }}" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="testMultipleMeasurement">Tests for Multiple Measurement Variables:</label>
            <select name="test_multiple_measurement" id="testMultipleMeasurement">
                <option value=""></option>
                <option value="linear_regression_and_correlation">Linear Regression and Correlation</option>
                <option value="spearman_rank_correlation">Spearman Rank Correlation</option>
                <option value="polynomial_regression">Polynomial Regression</option>
                <option value="analysis_of_covariance">Analysis of Covariance</option>
                <option value="simple_logistic_regression">Simple Logistic Regression</option>
            </select>
            <button type="submit">Submit</button>
            <br><br>
        </form>
        

        <hr>

        <!-- Display test results -->
        <h2>Test Results</h2>
        {% if test_results %}
        <ul>
            {% for test, result in test_results.items() %}
            <li><strong>{{ test }}</strong>: {{ result }}</li>
            {% endfor %}
            {% if statistic %}
                {{statistic}}
            {% endif %}<br>
            {% if stat2 %}
                {{stat2}}
            {% endif %}<br>
            {% if stat3 %}
                {{stat3}}
            {% endif %}<br>
            {% if stat4 %}
                {{stat4}}
            {% endif %}<br>
            {% if stat5 %}
                {{stat5}}
            {% endif %}<br>
            {% if dof %}
                {{dof}}
            {% endif %}
            {{ twoanova | safe }}


        </ul>
        {% else %}
        <p>No test results available.</p>
        {% endif %}

        <h2>Graphs</h2>
        {% if graph %}
            <img src= "{{ url_for('static', filename='/'+graph) }} "/>
        {% else %}
        <p>No Excel graph available.</p>
        {% endif %}

        {% if statsgraph %}
            <img src= "{{ url_for('static', filename='/'+statsgraph) }} "/>
        {% else %}
        <p>No statistical graph available.</p>
        {% endif %}

        <script src="{{ url_for('static',filename='js/transform.js') }}"></script>
        <script src="{{ url_for('static',filename='js/nominal.js') }}"></script>
        <script src="{{ url_for('static',filename='js/onemeasurement.js') }}"></script>


        

    </body>
</html>

{% endblock %}
