<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/excel.css') }}">
</head>
{% extends "upload_form.html" %}
{% block content %}
{{super()}}

    <body>
        <h1>Excel Data</h1>
        File Uploaded: {{filename}}
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    
        <h1>Analyze Excel File</h1>
        <form id="transformation" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="transform">Transform:</label>
            <select name="transformation" id="transform">
                <option value=""></option>
                <option value="normalize">Normalize</option>
                <option value="transform">Transform</option>
                <option value="transform_concentrations">Transform Concentrations</option>
                <option value="prune">Prune</option>
                <option value="area_under_curve">Area Under Curve</option>
                <option value="fraction_of_total">Fraction of Total</option>
                <option value="transpose">Transpose</option>
                <!-- Add more transformation options as needed -->
            </select>
            <br><br>
        </form>

        <div id="normalizationOptions" style="display: none;">
            <h2>Normalization Options</h2>
            <form id="normalizationForm" action="{{ url_for('main.normalize') }}" method="post">
                <label for="zeroPercent">Define 0%:</label><br>
                <input type="radio" id="smallestValue" name="zero_percent" value="smallest">
                <label for="smallestValue">The smallest value in each data set</label><br>
                <input type="radio" id="firstValue" name="zero_percent" value="first">
                <label for="firstValue">The first value in each data set</label><br>
                <input type="radio" id="sumValue" name="zero_percent" value="sum">
                <label for="sumValue">Sum of all values</label><br>
                <input type="radio" id="avgValue" name="zero_percent" value="avg">
                <label for="avgValue">Average of all values</label><br>
                <input type="radio" id="customValue" name="zero_percent" value="custom">
                <label for="customValue">Custom value (Y = <input type="number" id="customInput" name="custom_input">)</label><br><br>
                
                <label for="hundredPercent">Define 100%:</label><br>
                <input type="radio" id="largestValue" name="hundred_percent" value="largest">
                <label for="largestValue">The largest value in each data set</label><br>
                <input type="radio" id="lastValue" name="hundred_percent" value="last">
                <label for="lastValue">The last value in each data set</label><br>
                <input type="radio" id="hsumValue" name="hundred_percent" value="hsum">
                <label for="hsumValue">Sum of all values</label><br>
                <input type="radio" id="havgValue" name="hundred_percent" value="havg">
                <label for="havgValue">Average of all values</label><br>
                <input type="radio" id="hcustomValue" name="hundred_percent" value="hcustom">
                <label for="hcustomValue">Custom value (Y = <input type="number" id="hcustomInput" name="hcustom_input">)</label><br><br>
                
                <label for="presentation">Present results as</label><br>
                <input type="radio" id="fraction" name="presentation" value="fraction">
                <label for="fraction">Fraction</label><br>
                <input type="radio" id="percentage" name="presentation" value="percentage">
                <label for="percentage">Percentage</label><br><br>

                <button type="submit">Apply Normalization</button>
            </form>
        </div>




        <h2>Transformed Data</h2>
        {% if transformed_df %}
        <!-- Display transformed DataFrame -->
            <div class="excel-table-container">
                <table class="excel-table">
                    <thead>
                        <tr>
                            {% for column in transformed_df[0].keys() %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in transformed_df %}
                            <tr>
                                {% for value in row.values() %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <p>No transformed data available.</p>
        {% endif %}

        <hr>

        <!-- Tests for Nominal Variables -->
        <form id="test_nominal" action="{{ url_for('main.perform_nominal_test') }}" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="testNominal">Tests for Nominal Variables:</label>
            <select name="test_nominal" id="testNominal">
                <option value=""></option>
                <option value="exact_test_of_goodness_of_fit">Exact Test of Goodness-of-Fit</option>
                <option value="power_analysis">Power Analysis</option>
                <option value="chi_square_test_of_goodness_of_fit">Chi-Square Test of Goodness-of-Fit</option>
                <option value="g_test_of_goodness_of_fit">G-Test of Goodness-of-Fit</option>
                <option value="chi_square_test_of_independence">Chi-Square Test of Independence</option>
                <option value="g_test_of_independence">G-Test of Independence</option>
                <option value="fishers_exact_test">Fisher's Exact Test</option>
                <option value="cochran_mantel_haenszel_test">Cochran-Mantel-Haenszel Test</option>
            </select>
            <button type="submit">Submit</button>
            <br><br>
        </form>

        <!-- Tests for One Measurement Variable -->
        <form id="test_one_measurement" action="{{ url_for('main.perform_one_measurement_test') }}" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="testOneMeasurement">Tests for One Measurement Variable:</label>
            <select name="test_one_measurement" id="testOneMeasurement">
                <option value=""></option>
                <option value="one_sample_t_test">One-Sample t-Test</option>
                <option value="two_sample_t_test">Two-Sample t-Test</option>
                <option value="homoscedasticity">Homoscedasticity</option>
                <option value="one_way_anova">One-Way ANOVA</option>
                <option value="kruskal_wallis_test">Kruskal-Wallis Test</option>
                <option value="nested_anova">Nested ANOVA</option>
                <option value="two_way_anova">Two-Way ANOVA</option>
                <option value="paired_t_test">Paired t-Test</option>
                <option value="wilcoxon_signed_rank_test">Wilcoxon Signed-Rank Test</option>
            </select>
            <button type="submit">Submit</button>
            <br><br>
        </form>

        <!-- Tests for Multiple Measurement Variables -->
        <form id="test_multiple_measurement" action="{{ url_for('main.perform_multiple_measurement_test') }}" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            
            <label for="testMultipleMeasurement">Tests for Multiple Measurement Variables:</label>
            <select name="test_multiple_measurement" id="testMultipleMeasurement">
                <option value=""></option>
                <option value="linear_regression_and_correlation">Linear Regression and Correlation</option>
                <option value="spearman_rank_correlation">Spearman Rank Correlation</option>
                <option value="polynomial_regression">Polynomial Regression</option>
                <option value="analysis_of_covariance">Analysis of Covariance</option>
                <option value="multiple_regression">Multiple Regression</option>
                <option value="simple_logistic_regression">Simple Logistic Regression</option>
                <option value="multiple_logistic_regression">Multiple Logistic Regression</option>
            </select>
            <button type="submit">Submit</button>
            <br><br>
        </form>

        <hr>

        <!-- Display test results -->
        <h2>Test Results</h2>
        {% if test_results %}
        <ul>
            {% for test, result in test_results.items() %}
            <li><strong>{{ test }}</strong>: {{ result }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No test results available.</p>
        {% endif %}

        <script>
            document.getElementById('transform').addEventListener('change', function() {
                var normalizationOptions = document.getElementById('normalizationOptions');
                if (this.value === 'normalize') {
                    normalizationOptions.style.display = 'block';
                } else {
                    normalizationOptions.style.display = 'none';
                }
            });
        </script>
    </body>
</html>

{% endblock %}
