{% extends "upload_form.html" %}
{% block content %}
    <body>
        <h1>Excel Data</h1>
        File Uploaded: {{filename}}
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    
        <h2>Select an Option</h2>
        <form action="/process_option" method="post" enctype="multipart/form-data">
            <label for="regression_type">Choose a regression test:</label>
            <select name="regression_type" id="regression_type">
                <option value="null"></option>
                <option value="linear">Linear Regression</option>
                <option value="logistic">Logistic Regression</option>
                <!-- Add more options as needed -->
            </select><br><br>
            <button type="submit">Graph</button>
        </form>
    </body>

    {% if figname %}
        <img src= "{{ url_for('static', filename='/'+figname) }} "/>
    {% endif %}

{% endblock %}
