{% extends "base.html" %}
{% block content %}
{{super()}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
</head>
<body>
    <h1>Upload Excel File</h1>
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
        <input type="file" id="fileInput" name="file" accept=".xlsx, .xls">
        <input type="submit" value="Upload">
    </form>

    <script>
        function validateForm() {
            var fileInput = document.getElementById('fileInput');
            var filePath = fileInput.value;
            var allowedExtensions = 
                /(\.xlsx|\.xls)$/i; 
            if (!allowedExtensions.test(filePath)) {
                alert('Please upload file having extensions .xlsx or .xls only.');
                fileInput.value = '';
                return false;
            } else {
                return true;
            }
        }
    </script>
</body>
{% endblock %}
