<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>Upload a File</h1>
    <form method="POST" action="/parse">
    <h2>Describe Yourself:</h2>
    <input type="text" id="dsc" name="description" value="Huang">
    <h2>Choose your gender:</h2>
    <input type="radio" id="male" name="gender" value="male">

    <label for="male">Male</label><br>

    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br>

    <input type="radio" id="other" name="gender" value="other">
    <label for="other">Other</label><br>
    <button type="submit">Submit</button>
</form>
</body>
 -->
<body>
    <h1>Upload Excel File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx, .xls">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
