{% extends "base.html" %}
{% block content %}
<head>
    <title>Tools</title>
</head>
<body>
    <h1>Tools</h1>
    <ul>
        <li><a href="{{ url_for('main.hemocytometer') }}">Hemocytometer (Cell Counter)</a></li>
        <li><a href="{{ url_for('notes.home') }}">Notebook</a></li>
        <li><a href="https://vclock.com/timer/">Timer</a></li>
        <li><a href="https://www.desmos.com/scientific">Calculator</a></li>
        <li><a href="https://www.biostathandbook.com/">Handbook of Biological Statistics</a></li>
    </ul>
</body>

{% endblock %}
