:root {
    --style: rgba(62, 69, 129, 1);
    --neutral-500: rgba(27, 36, 48, 1);
    --neutral-400: rgba(73, 80, 89, 1);
    --warning-900: rgba(51, 37, 11, 1);
    --white-100: rgba(255, 255, 255, 1);
    --neutral-300: rgba(141, 146, 152, 1);
    --warning-50: rgba(255, 247, 231, 1);
    --primary500-base: rgba(25, 122, 255, 1);
    --primary-900: rgba(5, 24, 51, 1);
    --primary-50: rgba(241, 247, 255, 1);
    --neutral-100: rgba(235, 235, 236, 1);
    --headings-03-font-family: "Helvetica Neue", Helvetica;
    --headings-03-font-weight: 700;
    --headings-03-font-size: 32px;
    --headings-03-letter-spacing: 0px;
    --headings-03-line-height: 40px;
    --headings-03-font-style: normal;
    --label-small-sm-font-family: "Helvetica Neue", Helvetica;
    --label-small-sm-font-weight: 400;
    --label-small-sm-font-size: 10px;
    --label-small-sm-letter-spacing: 0px;
    --label-small-sm-line-height: 14px;
    --label-small-sm-font-style: normal;
    --body-regular-rg-font-family: "Helvetica Neue", Helvetica;
    --body-regular-rg-font-weight: 400;
    --body-regular-rg-font-size: 16px;
    --body-regular-rg-letter-spacing: 0px;
    --body-regular-rg-line-height: 24px;
    --body-regular-rg-font-style: normal;
    --body-regular-rg-bold-font-family: "Helvetica Neue", Helvetica;
    --body-regular-rg-bold-font-weight: 700;
    --body-regular-rg-bold-font-size: 16px;
    --body-regular-rg-bold-letter-spacing: 0px;
    --body-regular-rg-bold-line-height: 24px;
    --body-regular-rg-bold-font-style: normal;
    --body-small-sm-font-family: "Helvetica Neue", Helvetica;
    --body-small-sm-font-weight: 400;
    --body-small-sm-font-size: 14px;
    --body-small-sm-letter-spacing: 0px;
    --body-small-sm-line-height: 20px;
    --body-small-sm-font-style: normal;
    --headings-04-font-family: "Helvetica Neue", Helvetica;
    --headings-04-font-weight: 700;
    --headings-04-font-size: 24px;
    --headings-04-letter-spacing: 0.5px;
    --headings-04-line-height: 32px;
    --headings-04-font-style: normal;
    --variable-collection-color: rgba(0, 0, 0, 1);
  }
  